
__history/DTO4Delphi.dpk.~15~
__history/DTO4Delphi.dpk.~14~
__history/DTO4Delphi.dpk.~12~
__history/DTO4Delphi.dpk.~13~
__history/DTO4Delphi.dpk.~11~
__history/
samples/src/dto/impl/__history/
src/core/__history/
src/core/impl/__history/
src/registry/__history/
src/rtti/__history/
src/rtti/impl/__history/
src/types/attributes/__history/
src/rtti/impl/strategy/__history/
src/types/enums/__history/
samples/src/dto/__history/
*.dcu
samples/src/dto/impl/__history/DTO.Empresa.pas.~10~
samples/src/dto/impl/__history/DTO.Empresa.pas.~11~
samples/src/dto/impl/__history/DTO.Empresa.pas.~12~
samples/src/dto/impl/__history/DTO.Empresa.pas.~1~
samples/src/dto/impl/__history/DTO.Empresa.pas.~2~
samples/src/dto/impl/__history/DTO.Empresa.pas.~8~
samples/src/dto/impl/__history/DTO.Empresa.pas.~9~
samples/src/dto/impl/__history/DTO.Empresa.pas.~7~
samples/src/dto/impl/__history/DTO.Pessoa.pas.~12~
samples/src/dto/impl/__history/DTO.Pessoa.pas.~13~
samples/src/dto/impl/__history/DTO.Pessoa.pas.~15~
samples/src/dto/impl/__history/DTO.Pessoa.pas.~14~
src/core/__history/Core.Contracts.DTO4Delphi.pas.~20~
src/core/__history/Core.Contracts.DTO4Delphi.pas.~21~
src/core/impl/__history/Core.Manager.DTO4Delphi.pas.~30~
src/core/impl/__history/Core.Manager.DTO4Delphi.pas.~29~
src/core/impl/__history/Core.Manager.DTO4Delphi.pas.~28~
src/core/impl/__history/Core.Manager.DTO4Delphi.pas.~27~
src/core/impl/__history/Core.Manager.DTO4Delphi.pas.~25~
src/core/impl/__history/Core.Manager.DTO4Delphi.pas.~24~
src/core/impl/__history/Core.Manager.DTO4Delphi.pas.~23~
src/core/impl/__history/Core.Manager.DTO4Delphi.pas.~26~
src/core/impl/__history/Core.Manager.DTO4Delphi.pas.~22~
src/registry/__history/Core.Registry.DTO4D.pas.~1~
src/registry/__history/Core.Registry.DTO4D.pas.~2~
src/registry/__history/Core.Registry.DTO4D.pas.~3~
src/registry/__history/Core.Registry.DTO4D.pas.~4~
src/rtti/__history/RTTI.Contracts.DT4Delphi.pas.~10~
src/rtti/__history/RTTI.Contracts.DT4Delphi.pas.~6~
src/rtti/__history/RTTI.Contracts.DT4Delphi.pas.~7~
src/rtti/__history/RTTI.Contracts.DT4Delphi.pas.~9~
src/rtti/__history/RTTI.Contracts.DT4Delphi.pas.~8~
src/rtti/impl/__history/RTTI.Manager.DTO4Delphi.pas.~72~
src/rtti/impl/__history/RTTI.Manager.DTO4Delphi.pas.~71~
src/rtti/impl/__history/RTTI.Manager.DTO4Delphi.pas.~70~
src/rtti/impl/__history/RTTI.Manager.DTO4Delphi.pas.~69~
src/rtti/impl/__history/RTTI.Manager.DTO4Delphi.pas.~68~
src/rtti/impl/__history/RTTI.Manager.DTO4Delphi.pas.~67~
src/rtti/impl/__history/RTTI.Manager.DTO4Delphi.pas.~66~
src/rtti/impl/__history/RTTI.Manager.DTO4Delphi.pas.~64~
src/rtti/impl/__history/RTTI.Manager.DTO4Delphi.pas.~63~
src/rtti/impl/__history/RTTI.Manager.DTO4Delphi.pas.~65~
src/types/attributes/__history/Types.Attributes.DTO4Delphi.pas.~22~
src/types/attributes/__history/Types.Attributes.DTO4Delphi.pas.~21~
src/types/attributes/__history/Types.Attributes.DTO4Delphi.pas.~20~
src/types/attributes/__history/Types.Attributes.DTO4Delphi.pas.~19~
src/types/attributes/__history/Types.Attributes.DTO4Delphi.pas.~18~
src/types/attributes/__history/Types.Attributes.DTO4Delphi.pas.~17~
src/types/attributes/__history/Types.Attributes.DTO4Delphi.pas.~16~
src/types/attributes/__history/Types.Attributes.DTO4Delphi.pas.~15~
src/types/attributes/__history/Types.Attributes.DTO4Delphi.pas.~14~
src/rtti/impl/strategy/__history/RTTI.Strategy.QueryByResource.DTO4D.pas.~1~
src/rtti/impl/strategy/__history/RTTI.Strategy.QueryByBLOB.DTO4D.pas.~2~
src/rtti/impl/strategy/__history/RTTI.Strategy.QueryByBLOB.DTO4D.pas.~1~
src/types/enums/__history/Types.Enums.DTO4D.pas.~1~
samples/src/dto/__history/DTO.Industrias.pas.~10~
samples/src/dto/__history/DTO.Industrias.pas.~11~
samples/src/dto/__history/DTO.Industrias.pas.~12~
samples/src/dto/__history/DTO.Industrias.pas.~13~
samples/src/view/__history/Main.pas.~33~
samples/src/view/__history/Main.pas.~34~
samples/src/view/__history/Main.pas.~35~
samples/src/view/__history/Main.pas.~36~
samples/src/view/__history/Main.pas.~37~
samples/src/view/__history/Main.pas.~38~
samples/src/view/__history/Main.pas.~39~
samples/src/view/__history/Main.pas.~40~
src/core/impl/__history/Core.Manager.DTO4Delphi.pas.~36~
src/core/impl/__history/Core.Manager.DTO4Delphi.pas.~35~
src/core/impl/__history/Core.Manager.DTO4Delphi.pas.~33~
src/core/impl/__history/Core.Manager.DTO4Delphi.pas.~34~
src/core/impl/__history/Core.Manager.DTO4Delphi.pas.~32~
src/core/impl/__history/Core.Manager.DTO4Delphi.pas.~31~
src/registry/__history/Core.Registry.DTO4D.pas.~5~
src/rtti/impl/__history/RTTI.Manager.DTO4Delphi.pas.~73~
src/rtti/impl/__history/RTTI.Manager.DTO4Delphi.pas.~74~
src/core/__history/Core.Contracts.DTO4Delphi.pas.~23~
src/core/__history/Core.Contracts.DTO4Delphi.pas.~22~
__history/Connection4D.dpk.~1~
__history/Connection4D.dpk.~2~
__history/Connection4D.dpk.~3~
__history/Connection4D.dpk.~4~
__history/Connection4D.dpk.~5~
__history/Connection4D.dpk.~6~
__history/DTO4Delphi.dpk.~16~
__history/DTO4Delphi.dpk.~17~
samples/src/__history/SampleDTO4D.dpr.~6~
samples/src/dto/__history/DTO.Industrias.pas.~14~
samples/src/dto/__history/DTO.Industrias.pas.~4~
samples/src/view/__history/Main.dfm.~10~
samples/src/view/__history/Main.dfm.~9~
samples/src/view/__history/Main.pas.~41~
samples/src/view/__history/Main.pas.~42~
samples/src/view/__history/Main.pas.~43~
samples/src/view/__history/Main.pas.~47~
samples/src/view/__history/Main.pas.~46~
samples/src/view/__history/Main.pas.~44~
samples/src/view/__history/Main.pas.~45~
src/types/enums/helpers/__history/Types.Enums.Helpers.DTO4D.pas.~8~
src/types/enums/helpers/__history/Types.Enums.Helpers.DTO4D.pas.~2~
src/types/enums/helpers/__history/Types.Enums.Helpers.DTO4D.pas.~1~
src/types/enums/helpers/__history/Types.Enums.Helpers.DTO4D.pas.~3~
src/types/enums/helpers/__history/Types.Enums.Helpers.DTO4D.pas.~4~
src/types/enums/helpers/__history/Types.Enums.Helpers.DTO4D.pas.~5~
src/types/enums/helpers/__history/Types.Enums.Helpers.DTO4D.pas.~6~
src/types/enums/helpers/__history/Types.Enums.Helpers.DTO4D.pas.~7~
src/rtti/impl/strategy/__history/RTTI.Strategy.QueryByResource.DTO4D.pas.~22~
src/rtti/impl/strategy/__history/RTTI.Strategy.QueryByResource.DTO4D.pas.~21~
src/rtti/impl/strategy/__history/RTTI.Strategy.QueryByResource.DTO4D.pas.~20~
src/rtti/impl/strategy/__history/RTTI.Strategy.QueryByResource.DTO4D.pas.~19~
src/rtti/impl/strategy/__history/RTTI.Strategy.QueryByResource.DTO4D.pas.~18~
src/rtti/impl/strategy/__history/RTTI.Strategy.QueryByResource.DTO4D.pas.~17~
src/rtti/impl/strategy/__history/RTTI.Strategy.QueryByResource.DTO4D.pas.~16~
src/rtti/impl/strategy/__history/RTTI.Strategy.QueryByResource.DTO4D.pas.~15~
src/rtti/impl/strategy/__history/RTTI.Strategy.QueryByResource.DTO4D.pas.~14~
src/rtti/impl/strategy/__history/RTTI.Strategy.QueryByResource.DTO4D.pas.~13~
src/rtti/impl/strategy/__history/RTTI.Strategy.QueryByBLOB.DTO4D.pas.~9~
src/rtti/impl/strategy/__history/RTTI.Strategy.QueryByBLOB.DTO4D.pas.~8~
src/rtti/impl/strategy/__history/RTTI.Strategy.QueryByBLOB.DTO4D.pas.~7~
src/rtti/impl/strategy/__history/RTTI.Strategy.QueryByBLOB.DTO4D.pas.~6~
src/rtti/impl/strategy/__history/RTTI.Strategy.QueryByBLOB.DTO4D.pas.~5~
src/rtti/impl/strategy/__history/RTTI.Strategy.QueryByBLOB.DTO4D.pas.~14~
src/rtti/impl/strategy/__history/RTTI.Strategy.QueryByBLOB.DTO4D.pas.~13~
src/rtti/impl/strategy/__history/RTTI.Strategy.QueryByBLOB.DTO4D.pas.~12~
src/rtti/impl/strategy/__history/RTTI.Strategy.QueryByBLOB.DTO4D.pas.~11~
src/rtti/impl/strategy/__history/RTTI.Strategy.QueryByBLOB.DTO4D.pas.~10~
src/rtti/impl/__history/RTTI.Manager.DTO4Delphi.pas.~86~
src/rtti/impl/__history/RTTI.Manager.DTO4Delphi.pas.~85~
src/rtti/impl/__history/RTTI.Manager.DTO4Delphi.pas.~84~
src/rtti/impl/__history/RTTI.Manager.DTO4Delphi.pas.~83~
src/rtti/impl/__history/RTTI.Manager.DTO4Delphi.pas.~82~
src/rtti/impl/__history/RTTI.Manager.DTO4Delphi.pas.~81~
src/rtti/impl/__history/RTTI.Manager.DTO4Delphi.pas.~80~
src/rtti/impl/__history/RTTI.Manager.DTO4Delphi.pas.~79~
src/rtti/impl/__history/RTTI.Manager.DTO4Delphi.pas.~78~
src/rtti/impl/__history/RTTI.Manager.DTO4Delphi.pas.~77~
src/rtti/__history/RTTI.Contracts.DT4Delphi.pas.~15~
src/rtti/__history/RTTI.Contracts.DT4Delphi.pas.~14~
src/rtti/__history/RTTI.Contracts.DT4Delphi.pas.~13~
src/rtti/__history/RTTI.Contracts.DT4Delphi.pas.~12~
src/rtti/__history/RTTI.Contracts.DT4Delphi.pas.~11~
src/model/impl/dbExpress/__history/Model.Query.DbExpress.Connection4D.pas.~9~
src/model/impl/dbExpress/__history/Model.Query.DbExpress.Connection4D.pas.~8~
src/model/impl/dbExpress/__history/Model.Query.DbExpress.Connection4D.pas.~7~
src/model/impl/dbExpress/__history/Model.Query.DbExpress.Connection4D.pas.~6~
src/model/impl/dbExpress/__history/Model.Query.DbExpress.Connection4D.pas.~5~
src/model/impl/dbExpress/__history/Model.Query.DbExpress.Connection4D.pas.~14~
src/model/impl/dbExpress/__history/Model.Query.DbExpress.Connection4D.pas.~13~
src/model/impl/dbExpress/__history/Model.Query.DbExpress.Connection4D.pas.~12~
src/model/impl/dbExpress/__history/Model.Query.DbExpress.Connection4D.pas.~11~
src/model/impl/dbExpress/__history/Model.Query.DbExpress.Connection4D.pas.~10~
src/model/impl/__history/Model.Query.Connection4D.pas.~1~
src/model/__history/Model.Contracts.Connection4D.pas.~9~
src/model/__history/Model.Contracts.Connection4D.pas.~8~
src/model/__history/Model.Contracts.Connection4D.pas.~7~
src/model/__history/Model.Contracts.Connection4D.pas.~6~
src/model/__history/Model.Contracts.Connection4D.pas.~5~
src/model/__history/Model.Contracts.Connection4D.pas.~4~
src/model/__history/Model.Contracts.Connection4D.pas.~3~
src/model/__history/Model.Contracts.Connection4D.pas.~2~
src/model/__history/Model.Contracts.Connection4D.pas.~1~
src/model/__history/Model.Contracts.Connection4D.pas.~10~
src/core/impl/params/__history/Core.Params.Manager.DTO4Delphi.pas.~22~
src/core/impl/params/__history/Core.Params.Manager.DTO4Delphi.pas.~21~
src/core/impl/params/__history/Core.Params.Manager.DTO4Delphi.pas.~20~
src/core/impl/params/__history/Core.Params.Manager.DTO4Delphi.pas.~19~
src/core/impl/params/__history/Core.Params.Manager.DTO4Delphi.pas.~18~
src/core/impl/params/__history/Core.Params.Manager.DTO4Delphi.pas.~17~
src/core/impl/params/__history/Core.Params.Manager.DTO4Delphi.pas.~16~
src/core/impl/params/__history/Core.Params.Manager.DTO4Delphi.pas.~15~
src/core/impl/params/__history/Core.Params.Manager.DTO4Delphi.pas.~14~
src/core/__history/Core.Contracts.DTO4Delphi.pas.~26~
src/core/__history/Core.Contracts.DTO4Delphi.pas.~25~
src/core/__history/Core.Contracts.DTO4Delphi.pas.~24~
__history/DTO4Delphi.dpk.~9~
__history/DTO4Delphi.dpk.~8~
samples/src/dto/__history/DTO.Industrias.pas.~5~
samples/src/dto/__history/DTO.Industrias.pas.~6~
samples/src/dto/__history/DTO.Industrias.pas.~6~
samples/src/dto/__history/DTO.Industrias.pas.~6~
samples/src/dto/__history/DTO.Industrias.pas.~5~
samples/src/dto/__history/DTO.Industrias.pas.~15~
samples/src/dto/__history/DTO.Industrias.pas.~16~
samples/src/dto/__history/DTO.Industrias.pas.~5~
samples/src/dto/__history/DTO.Industrias.pas.~6~
__history/DTO4Delphi.dpk.~9~
__history/DTO4Delphi.dpk.~8~
__history/DTO4Delphi.dpk.~18~
__history/DTO4Delphi.dpk.~19~
samples/src/view/__history/Main.pas.~48~
samples/src/view/__history/Main.pas.~49~
samples/src/view/__history/Main.pas.~50~
src/core/__history/Core.Contracts.DTO4Delphi.pas.~17~
src/core/__history/Core.Contracts.DTO4Delphi.pas.~18~
src/core/__history/Core.Contracts.DTO4Delphi.pas.~19~
src/core/__history/Core.Contracts.DTO4Delphi.pas.~27~
src/core/__history/Core.Contracts.DTO4Delphi.pas.~28~
src/core/__history/Core.Contracts.DTO4Delphi.pas.~29~
src/core/__history/Core.Contracts.DTO4Delphi.pas.~30~
src/core/__history/Core.Contracts.DTO4Delphi.pas.~32~
src/core/__history/Core.Contracts.DTO4Delphi.pas.~31~
src/core/impl/__history/Core.Manager.DTO4Delphi.pas.~37~
src/core/impl/__history/Core.Manager.DTO4Delphi.pas.~38~
src/core/impl/__history/Core.Manager.DTO4Delphi.pas.~39~
src/core/impl/__history/Core.Manager.DTO4Delphi.pas.~40~
src/core/impl/__history/Core.Manager.DTO4Delphi.pas.~41~
src/core/impl/__history/Core.Manager.DTO4Delphi.pas.~42~
src/core/impl/__history/Core.Manager.DTO4Delphi.pas.~43~
src/core/impl/__history/Core.Manager.DTO4Delphi.pas.~44~
src/core/impl/__history/Core.Manager.DTO4Delphi.pas.~45~
src/rtti/impl/__history/RTTI.Manager.DTO4Delphi.pas.~111~
src/rtti/impl/__history/RTTI.Manager.DTO4Delphi.pas.~110~
src/rtti/impl/__history/RTTI.Manager.DTO4Delphi.pas.~109~
src/rtti/impl/__history/RTTI.Manager.DTO4Delphi.pas.~108~
src/rtti/impl/__history/RTTI.Manager.DTO4Delphi.pas.~107~
src/rtti/impl/__history/RTTI.Manager.DTO4Delphi.pas.~106~
src/rtti/impl/__history/RTTI.Manager.DTO4Delphi.pas.~105~
src/rtti/impl/__history/RTTI.Manager.DTO4Delphi.pas.~104~
src/rtti/impl/__history/RTTI.Manager.DTO4Delphi.pas.~103~
src/rtti/impl/__history/RTTI.Manager.DTO4Delphi.pas.~102~
src/rtti/__history/RTTI.Contracts.DT4Delphi.pas.~16~
src/core/impl/params/__history/Core.Params.Manager.DTO4Delphi.pas.~28~
src/core/impl/params/__history/Core.Params.Manager.DTO4Delphi.pas.~27~
src/core/impl/params/__history/Core.Params.Manager.DTO4Delphi.pas.~26~
src/core/impl/params/__history/Core.Params.Manager.DTO4Delphi.pas.~25~
src/core/impl/params/__history/Core.Params.Manager.DTO4Delphi.pas.~23~
src/core/impl/params/__history/Core.Params.Manager.DTO4Delphi.pas.~24~
src/rtti/impl/strategy/__history/RTTI.Strategy.QueryByResource.DTO4D.pas.~23~
src/rtti/impl/strategy/__history/RTTI.Strategy.QueryByBLOB.DTO4D.pas.~15~
src/types/attributes/__history/Types.Attributes.DTO4Delphi.pas.~23~
src/types/attributes/__history/Types.Attributes.DTO4Delphi.pas.~24~
src/types/exceptions/__history/Types.Exceptions.DTO4Delphi.pas.~1~
src/types/exceptions/__history/Types.Exceptions.DTO4Delphi.pas.~2~
src/types/exceptions/__history/Types.Exceptions.DTO4Delphi.pas.~3~
src/types/exceptions/__history/Types.Exceptions.DTO4Delphi.pas.~4~
src/types/enums/helpers/__history/Types.Enums.Helpers.DTO4D.pas.~9~
src/types/attributes/__history/Types.Attributes.DTO4Delphi.pas.~13~
__history/DTO4Delphi.dpk.~9~
__history/DTO4Delphi.dpk.~8~
__history/DTO4Delphi.dpk.~10~
